bcrypt==3.1.7
firefly-framework==1.2.9
firefly-aws==1.2.6
# botocore @ git+https://github.com/Kyruski/botocore.git@debugging
# firefly-aws==1.2.5
.
oauthlib==3.1.1
PyJWT[crypto]==2.1.0
pytest==6.2.5
pytest-aiohttp==0.3.0